@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-background;
}

.tiptap {
  outline: none;
  border: none;
  @apply text-text-dark bg-opacity-100 dark:text-white;
}

.tiptap h1 {
  @apply text-3xl font-medium;
}

.tiptap h2 {
  @apply text-2xl font-medium mb-1;
}

ul {
  @apply list-disc px-3;
}

ol {
  @apply list-decimal px-3;
}

ul[data-type='taskList'] {
  @apply list-disc px-0;
}

li > label {
  @apply pr-1;
}

.tiptap ul {
  @apply list-disc pl-6;
}

.tiptap ol {
  @apply list-decimal pl-6;
}

.tiptap hr {
  @apply border-t-[1px] border-gray-500 my-2;
}

.tiptap code {
  @apply bg-gray-700 bg-opacity-20;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap ul[data-type='taskList'] > li {
  display: flex;
}

.tiptap ul[data-type='taskList'] {
  @apply px-0;
}

.tiptap ul[data-type='taskList'] > li > label {
  @apply mr-1;
}

.tiptap .is-active {
  @apply bg-black;
}

.tiptap img {
  @apply w-full md:w-1/3;
}

.screen-size {
  min-height: 100svh;
}

ul[data-type='taskList'] > li {
  @apply flex flex-row;
}

.notes-preview {
  @apply break-all;
}
